---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$baseurl: "{{ site.baseurl }}";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"includes",
	"base",
	"layout",
  
	// individual liquid file styles
	"layout-default",
	"header",
  "main-nav",
	"footer",
	
	"index",
	"staff"
;

.welcome-message-image {
  float: left;
  max-height: 300px;
  margin: 0 20px 20px 0;
  display: none;
  
  @include breakpoint($medium) {
    display: inline;
  }
  @include breakpoint($large) {
    max-height: 400px;
  }
}
