{% if include.competitions.size > 0 %}

  <ul class="ds-IncludesCompetitionsList">
    {% for competition in include.competitions %}
      {% assign start = competition.start_date | date: "%b %-d" %}
      {% assign end = competition.end_date | date: "%-d" %}
      {% assign year = competition.end_date | date: "%Y" %}
      <li class="ds-IncludesCompetitionsList-competition">
        <a href="{{ competition.url }}" class="ds-IncludesCompetitionsList-title"> {{ competition.title }} </a>
        <div class="ds-IncludesCompetitionsList-dates"> {{ start }} - {{ end }}, {{ year }} </div>
      </li>
    {% endfor %}
  </ul>

{% endif %}
{% assign competitions = nil %}