{% if include.competitions.size > 0 %}

  <ul class="ds-IncludesListCompetitions">
    {% for competition in include.competitions %}
      {% assign month = competition.start_date | date: "%b" %}
      {% assign start_day = competition.start_date | date: "%-d" %}
      {% assign end_day = competition.end_date | date: "%-d" %}
      {% assign year = competition.end_date | date: "%Y" %}
      {% if start_day == end_day %}
        {% assign range = start_day %}
      {% else %}
        {% capture range %}{{ start_day }} - {{ end_day }}{% endcapture %}
      {% endif %}
      <li class="ds-IncludesListCompetitions-competition">
        <a href="{{ competition.url | prepend: site.baseurl }}" class="ds-IncludesListCompetitions-title"> {{ competition.title }} </a>
        <div class="ds-IncludesListCompetitions-dates">
          {{ month }} {{ range }}, {{ year }}
        </div>
      </li>
    {% endfor %}
  </ul>

{% endif %}
