<footer class="site-footer">
  
  <p class="site-description">{{ site.description }}</p>

  <div class="contact-info">
    <address class="usps-address">
      Dreamstar Productions, LLC.<br>
      PO Box 101<br>
      Eldridge, IA 52748
    </address>

    <div class="phone-numbers">
      <p>
        Phone:<br>
        <a class="phone-number" href="tel:+15635051804">563-505-1804</a><br>
        <a class="phone-number" href="tel:+15634844143">563-484-4143</a>
      </p>
      <p>
        Fax:<br>
        <span class="fax-number">563-285-8071</span>
      </p>
    </div>
    
    <div class="email-address">
      <a href="mailto:info@dreamstarnow.com">info@dreamstarnow.com</a>
    </div>
    
  </div>

  <div class="credits">
    This site is the result of a <a href="http://happycollision.com">Happy Collision</a>.
  </div>
</footer>
