<header class="site-header">
    <a class="site-title tickets-available" href="{{ site.baseurl }}/" title="Dreamstar Productions" rel="home">
      <img src="{{ site.baseurl }}/images/dreamstar-logo.png" alt="Dreamstar Logo">
      <h1>{{ site.title }}</h1>
    </a>

    <a class="register-button" href="https://dreamstarnow.dancecompgenie.com">Register Now</a>
</header>

<nav class="site-nav js-hide">
  <input type="checkbox" id="menu" style="display:none">
  <label for="menu">Navigation</label>
  {% include nav.html %}
</nav>
