<header class="ds-IncludesHeader" data-turbolinks-permanent>
    <a class="site-title" href="{{ site.baseurl }}/" title="Dreamstar Productions" rel="home">
      <img src="{{ site.baseurl }}/images/dreamstar-logo.png" alt="Dreamstar Logo">
      <h1>{{ site.title }}</h1>
    </a>

    {% if site.data.registration.open %}
      <a class="register-button" href="{{ site.data.registration.url }}">Register Now</a>
    {% endif %}
    
</header>

<nav class="site-nav js-hide">
  <input type="checkbox" id="menu" style="display:none">
  <label for="menu">Navigation</label>
  {% include nav.html %}
</nav>
