<ul>
  <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a></li>

  {% assign pages_list = "" | split: "|" %}

  {% assign editable_pages_collection = site.collections | where: "label", "_editable_pages" | first %}
  {% for page in editable_pages_collection.docs %}
    {% assign pages_list = pages_list | push: page %}
  {% endfor %}

  {% for regpage in site.pages | where: "nav_group", "main" %}
    {% assign pages_list = pages_list | push: regpage %}
  {% endfor %}

  {% assign nav_group = 'main' %}
  {% include pages_list.html %}
</ul>
