{% for node in pages_list %}
  {% assign nav_title = node.nav_title %}
  {% if node.nav_title == null %}
    {% assign nav_title = node.title %}
  {% endif %}
  {% if nav_group == null or nav_group == node.nav_group %}
    {% if page.url == node.url %}
      <li class="active"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{{nav_title}}</a></li>
    {% else %}
      <li><a href="{{ node.url | prepend: site.baseurl }}">{{nav_title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign nav_group = nil %}