// Footer

.site-footer
  background-color: $subtle-bg-alt
  margin-top: $spacing-unit *2
  margin-bottom: 0
  padding-top: $spacing-unit * 2
  padding-bottom: $spacing-unit 

  +fw-bars

  .site-description
    font-weight: normal

  .credits
    text-align: center
    font-size: $base-font-size * 0.85
    margin-top: $spacing-unit
    a:link, a:visited, a
      &:hover, &
        text-decoration: underline
