$base-brand-color: #061B71; // blue

$main-text: #222;
$main-bg: #fff;

$subtle-bg: desaturate(lighten($base-brand-color, 50%), 30%);
$subtle-bg-alt: lighten($subtle-bg, 20%);
$button: $base-brand-color;
$button-text: #fff;

$subtle-bg-subtle-text: #686758;

$article-link: desaturate(lighten($base-brand-color, 30%), 10%);
$article-link-visited: darken($article-link, 10%);
$article-link-hover: lighten($article-link, 20%);
