<!DOCTYPE html>
<html class="no-js layout-default ds-LayoutsDefault">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="ds-LayoutsDefault-main">
      <div class="ds-LayoutsDefault-pageContent">
        {{ content }}
      </div>
      
      <div class="ds-LayoutsDefault-competitionsList">
        {% include all_competitions_list.html %}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/js/foot.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/turbolinks.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
